.cover__link {
  display: flex;
  background-image: url("../../../images/__background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  min-height: 740px;
  padding-bottom: 76px;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.cover__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3s ease;
}
.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-height: 640px;
    padding-bottom: 76px;
    max-width: 1024px;
    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 100%;
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
    padding-bottom: 36px;
  }
}
