.cover__link {
  display: flex;
  background-image: url("../../../images/__background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  z-index: 0;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.cover__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.3s ease;
}
.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    width: 100%;
<<<<<<< HEAD
    height: 62vh;
    background-size: contain;
    min-height: 640px;
=======
    max-height: 640px;
>>>>>>> f03d426248e16a56770e9bd3187fde8d968be580
}
  }


@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 100%;
<<<<<<< HEAD
    height: 44vh;
    min-height: 480px;
=======
    max-height: 480px;
>>>>>>> f03d426248e16a56770e9bd3187fde8d968be580
  }
}
@media screen and (max-width: 320px) {
  .cover__link {
    max-width: 320px;
<<<<<<< HEAD
    height: 17vh;
    min-height: 200px;
=======
    max-height: 200px;
>>>>>>> f03d426248e16a56770e9bd3187fde8d968be580

  }
}
