.page {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  padding-left: 48px;
  padding-right: 48px;
}
@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
