.photo-grid {
  display: grid;
  max-width: 1184px;
  margin: 0 auto 91px;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 284px));
  gap: 14px;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    max-width: 928px;
    margin-bottom: 93px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    margin: 0 auto 90px;
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 352px));
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    gap: 15px;
    margin: 0 18px 64px;
  }
}
