.second-paragraf {
    grid-column: 2;
    grid-row: 2;
    align-self: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .second-paragraf:nth-child(2) {
    margin-top: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .second-paragraf {
      margin-top: 23px;
    }
    .place__text_second:nth-child(2) {
      margin-top: 23px;
    }
  }
  @media screen and (max-width: 320px) {
    .second-paragraf {
      margin-left: 0;
      margin-top: 23px;
    }
  }