.lead__photo {
  max-width: 77vw;
  margin: 0;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .lead__photo{
  max-width: 91vw;
  }
  
}
@media screen and (max-width: 768px) {
  .lead__photo {
    width: 100%;
    max-width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .lead__photo {
    max-width: 320px;
  }
}
