.place__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-top: 48px;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-weight: 400;
    font-size: 1em;
    line-height: 163%;
  }
}
@media screen and (max-width: 320px) {
  .place__text {
    margin-left: 16px;
    margin-top: 0;
    margin-right: 22px;
    line-height: 163%;
  }
    
}



