.place__img {
  grid-area: places__img;
  grid-row: span 2;
  grid-column: 1;
  margin-top: 48px;
  max-width: 460px;
}
@media screen and (max-width: 1024px) {
  .place__img {
    max-width: 440px;
  }
}
@media screen and (max-width: 768px) {
  .place__img {
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__img {
    max-width: 320px;
    width: 100%;
    margin: 30px 0 30px;
  }
}
