.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  margin: 0;
  max-width: 560px;
  padding-bottom: 32px;
}
@media screen and (max-width: 786px) {
  .cover__title {
    font-size: 72px;
  }
}
@media screen and (max-width: 520px) {
  .cover__title {
    font-size: 13vw;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    padding: 0;
  }
}
