.footer__list {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  column-gap: 18px;
  padding-left: 0;
  margin: 0;
}
@media screen and (max-width: 640px) {
  .footer__list {
    grid-template-columns: min-content;
  }
}

@media screen and (max-width: 320px) {
  .footer__list {
    grid-template-columns: min-content;
  }
}
