.footer {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1184px;
  margin-left: 3rem;
  justify-content: space-between;
  margin-top: 60px;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 56px;
    margin-left: 24px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    margin: 64px 0 24px 16px;
    grid-template-columns: 1fr;
    text-align: start;
  }
}
